<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/imoveis/save">
                <input class="form-control" type="text" name="title" placeholder="Título do artigo"><br>
                
                <!-- ✅ Campo para link da imagem -->
                <input class="form-control" type="text" name="imageUrl" placeholder="Link da imagem"><br>

                <textarea class="form-control" name="body" id="imoveis" placeholder="Escreva o conteúdo aqui!"></textarea><br>
                
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                </select><br>

                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include ("../../partials/footer.ejs") %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#imoveis",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>
