<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs") %>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Caverzzan`s Imobiliaria<br>Seja Bem Vindo</h1>
            <p class="lead">Caverzzan`s Imobiliaria.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
        </div>

        <% imoveis.forEach(imoveis => { %>
            <div class="card mb-3">
                <div class="card-header">
                    <h2><%= imoveis.title %></h2>
                </div>
                <div class="card-body">
                    <!-- Exibe a imagem se existir -->
                    <% if (imoveis.imageUrl) { %>
                        <img src="<%= imoveis.imageUrl %>" alt="Imagem do imóvel" style="max-width: 100%; height: auto; margin-bottom: 10px;">
                    <% } %>

            <a href="/<%= imoveis.slug %>" class="btn btn-success">Ver Mais</a>                </div>
            </div>
        <% }) %>
    </div>

    <%- include ("partials/footer.ejs") %>
</body>
